extends layout

block content

  if user
    div(class='control')
      a(class='update' href=category.url+'/update' ) Edit Category
      a(class='delete' href=category.url+'/delete') Delete
  else
    div(class='control')
      p
        a(href="/login") Login
        |  or 
        a(href="/register") create an account
        |  to edit.

  h1 #{category.name}
  p Description: #{category.description}
  hr
  if category_recipes.length == 1
    h4  #{category_recipes.length} recipe under #{category.name}:
  else
    h4  #{category_recipes.length} recipes under #{category.name}:
  endif
  ul
    each recipe in category_recipes
      li
        a(href=recipe.url) #{recipe.title}
    else
        p This category has no recipes
