extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li Number of Recipes: #{recipe_count}
    li Number of Categories: #{category_count}
    li Number of Tags: #{tag_count}
  
  hr
  h3 Random Recipe: 
  div(class='random')
    h4 Recipe: 
        a(href=recipe.url) #{recipe.title}
    p Category: 
      a(href=recipe.category.url) #{recipe.category.name}
    if recipe.serves
      p Serves: #{recipe.serves}
    endif
    if recipe.tags == []
      p Tags: 
        each val, index in recipe.tags
          - console.log(val)
          a(href=val.url) #{val.name}
          if index < recipe.tags.length - 1
            |, 
          endif
    endif
    hr
    h4 Ingredients:
    p(class='ingredients') #{recipe.ingredients}
    h4 Directions:
    p(class='directions') #{recipe.directions}
