extends layout

block content

  if user
    div(class='control')
      a(class='addComment' href=recipe.url+'/comment' ) Add Comment
      a(class='update' href=recipe.url+'/update' ) Edit Recipe
      a(class='delete' href=recipe.url+'/delete') Delete
  else
    div(class='control')
      p
        a(href="/login") Login
        |  or 
        a(href="/register") create an account
        |  to edit.

  h1 #{recipe.title}
  p Category: 
   a(href=recipe.category.url) #{recipe.category.name}
  p Serves: #{recipe.serves || ''}
  p Tags: 
    each val, index in recipe.tags
      a(href=val.url) #{val.name}
      if index < recipe.tags.length - 1
        |, 
      endif
  hr
  h4 Ingredients:
  p(class='ingredients') #{recipe.ingredients}

  hr

  h4 Directions:
  p(class='directions') #{recipe.directions}

  hr
  h4 Comments:
  div(class='commentList')
    each com in recipe.comments 
      div(class='comment')
        p(class='commentHead') #[strong #{com.user.username}] -  (#{com.date}):
        p(class='commentBody') #{com.content}
