extends layout

block content
  h1= title

  h4 Search for: #{search_term} (#{results.length})
  ul(class="bulletedList")
    each thing in results
      li
        a(href=thing.url) #{thing.title}

    else
      li No Results.