extends layout

block content

  if user
    div(class='control')
      a(class='update' href=tag.url+'/update' ) Edit Tag
      a(class='delete' href=tag.url+'/delete') Delete
  else
    div(class='control')
      p
        a(href="/login") Login
        |  or 
        a(href="/register") create an account
        |  to edit.

  h1 #{tag.name}
  p Group: #{tag.group}
  p Description: #{tag.description}
  hr
  if tag_recipes.length == 1
    h4  #{tag_recipes.length} recipe with the tag #{tag.name}:
  else
    h4  #{tag_recipes.length} recipes with the tag #{tag.name}:
  endif
  ul
    each recipe in tag_recipes
      li
        a(href=recipe.url) #{recipe.title}
    else
      p This tag has no recipes
